* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.main-container{
    height: 100%;
    width: 100%;
    
    display: flex;

}



.header{
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    position: fixed;
    opacity: 0.80;
}

.main-heading{
   width: 20%;
   margin-bottom: 75px;
   font-size: 27px;
   color: white;
   padding-left: 30px;
}

.header-box{
    
    width:100%;
    margin-top: 100px;
    border-color: black;
    height: max-content;
}



.navigation a{
    text-decoration: none;

}


.navigation a li{
    text-decoration: none;
    display: flex;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: bold;
    padding-left: 10px;
    width: 90%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation a li:hover{
    background-color: white;
    color: black;
}

.container-2{
    height: 100%;
    width: calc(100% - 300px);
    margin-left: auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.container-3{
    width: 93%;
    height: 100%;
   
}


.heading-1{
    font-size: 70px;
    margin-top: 90px;
    width: 100%;
   
    
}

.heading-2{
    color: red;
    margin-top: 40px;
    font-size: 50px;
    opacity: 0.80;
}

.hr-1{
    margin-top: 30px;
    width: 65px;
    height: 10px;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    
}

.images-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.all-images{
    width: 50%;
    height: 409px;
    border: 10px solid white;
    border-left: 0px;
    border-bottom: 0px;
    opacity: 0.75;
}

.long-images{
    width: 50%;
    height: 608px;
    border: 10px solid white;
    border-left: 0px;
    border-bottom: 0px;
    opacity: 0.75;
}
.all-images:hover, .long-images:hover{
    opacity: 1;
}

.heading-3{
    color: red;
    margin-top: 80px;
    font-size: 50px;
    opacity: 0.80;
}

.paragraph-1{
    margin-top: 20px;
    font-size: 17px;
}

.paragraph-2{
    margin-top: 27px;
    font-size: 17px;
    line-height: 25PX;
}

.heading-4{
    color: red;
    margin-top: 80px;
    font-size: 50px;
    opacity: 0.80;
}

.paragraph-3{
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
}

.people-container{
  display: flex;
  justify-content: space-between;
}

.people-cards{
  background-color: #f1f1;
  -webkit-filter: grayscale(100%);
  width: 33%;
}

.people-images{
    width: 100%;
}
.people-names{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 23px;
  padding-bottom: 20px;
  font-weight: 400;
}

.people-occupations{
    padding-left: 10px;
    font-size: 17px;
    opacity: 0.60;
    padding-bottom: 20px;
}

.people-descriptions{
    padding-left: 10px;
    opacity: 0.80;
    line-height: 24px;
    padding-bottom: 15px;
}


.package-div{
    display: flex;
    width: 100%;
    margin-top: 20px;
   
    justify-content: space-between;
    
}

.package-div-1, .package-div-2{
    width:49%;
    line-height: 30px;
    display: flex;
    text-align: center;
    background-color: #F1F1F1;
   
}

.ul-1,.ul-2{
  
  list-style-type: none;
  width: 100%;
  line-height: 50px;
}
.li-1{
    border-bottom: 1px solid rgb(241, 221, 221);
}

.li-2{
    background-color: rgb(90, 89, 89);
    padding: 32px 16px;
    color: white;
    font-size: 24px;
}

.li-3{
    background-color: red;
    padding: 32px 16px;
    color: white;
    font-size: 24px;
    opacity: 0.80;
}

.price{
    padding-top: 20px;
    font-size: 30px;
    width: 100%;
    line-height: 40px;
    display: block;
    
}

.room-span{
 color: #919191;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

.basic-button{
    height: 43px;
    width: 100px;
    color: black;
    background-color: white;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 17px;
}

.pro-button{
    height: 43px;
    width: 100px;
    color: white;
    background-color: red;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 17px;
}

.basic-button:hover, .pro-button:hover{
    color: white;
    background-color: black;
}

.contact-inputs{
    width: 100%;
    height: 43px;
    margin-top: 4px;
    margin-bottom: 13px;
    border: 1px solid rgb(224, 221, 221);
}

.contact-labels{
    margin-top: 10px;
    font-size: 16px;
}

.paragraph-4{
    margin-top: 27px;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 15px;
    
}

.contact-button{
    width: 100%;
    height: 43px;
    background-color: red;
    opacity: 0.80;
    color: white;
    border: none;
    font-size: 16px;
}

.contact-button:hover{
    color: rgb(0, 0, 0);
    background-color: gray;
   
}

.footer-box{
    background-color: #F1F1F1;
    width: 100%;
    height: 130px;
    margin-top: 90px;
    padding: 32px 58px 32px 16px;
    text-align: right;
}

.footer-text{
    margin: 16px 0px;
    font-weight: 200;
}

.footer-anchor{
    color: black;
}

.footer-anchor:hover{
    opacity: 0.60;
}